* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

html {
    width: 100%;
}

p {
    color: #000000;
}

nav {
    background-color: #000000;
    width: 100%;

}

.container_nav {
    margin-left: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 10px;
}

nav ul {
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
}


a {
    text-decoration: none;
    color: white;
}

.img_chess {
    width: 50%;
    margin-top: 30px;
}

.about-header-container {
    display: flex;
    flex-direction: row-reverse;
}

.about-img {
    width: 15%;
    margin-left: 30px;
}

.about-title {
    display: flex;
    flex-direction: column;
}

header h1 {

    background-color: #9D2096;
    color: white;
    padding: 20px;
    font-size: 60px;        
}

div header {
    text-align: left;
    font-size: xx-large;
    background: #9D2096;
    color: white;
    box-sizing: border-box;
    height: 100%;
    padding: 30px;
}

.img-team {
    width: 30%;
    position: relative;
    margin-left:200px ;
}


.ourTeamHeader {
    display: flex;
    text-align: left;
    font-size: xx-large;
    background: #9D2096;
    color: white;
    box-sizing: border-box;
}

.box_side {
padding: 30px;
text-align: justify;

}

.ourTeamHeader-titles {
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.logo {
    background-color: #9D2096;
    margin-top: -16px;
}

.logo_site {
    width: 3%;
    position: absolute;
    left: 3%;
}

.logo_site2 {
    width: 3%;
    position: absolute;
    left: 3%;
    top: -1px;

}

.container_videos {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: wrap;
}

.select_rating {
    color: black;
    font-size: 23px;
    margin-top: 20px;
    position: relative;
    top: -30px;
}

h2 {
    font-size: 30px;
    color: white;
    font-weight: lighter;
    position: relative;
    top: -10px;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display:flex;
    flex-direction: column;
    min-height: 100vh;;
}

.video {
    height: 250px;
    width: 350px;

}

main {
    font-size: large;
}

main ul {
    list-style-type: none
}



.home {
    text-align: justify;
    width: 80%;
    padding: 20px;
    margin-left: 50px;
}

.about {
    margin: 30px;
}

.p_about {
    width: 80%;
    height: auto;
    color: black;
    font-size: 100%;
    text-align: justify;
}

.sub_text_about {
    font-size: large;
    margin: 35px;
    margin-bottom: 30px;
    position: relative;
    top: -30%;
    font-weight: lighter;


}

.text_team {
    margin: 30px;
}

.container_members {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.team_member_box {
    text-align: justify;
    background-color: #FFD859;
    color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 40px;

}

.grid_container_members {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    margin-bottom: 30px;
}

.tall_person {
    position: absolute;
    right: 3%;
    top: 149px;
    width: 446px;
}

.video {
    background-color: #666666;
    height: 100%;
    width: 100%;


}

.popular {
    font-size: larger;
    font-weight: lighter
}

h3 {
    font-weight: lighter;
    font-weight: 600;
    margin: 20px;
}

h5 {
    font-size: medium;
    margin: 10px;
}


.button {
    background-color: cadetblue;
    color: white;
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    border: none;
}

footer {
    background-color: #9D2096;
    color: whitesmoke;
    list-style-type: none;
    padding: 10px 5px;
    height: auto;
    flex-wrap: wrap;
    margin-top: auto
}

footer ul {
    list-style-type: none;

}

.pricing {
    margin-left: 100px;
    margin-right: 100px
}

.container_footer {
    display: flex;
    direction: row;
    justify-content: center;

}


.job_opt_header {
    text-align: left;
    font-size: xx-large;
    background: #9D2096;
    color: white;
    box-sizing: border-box;
    height: 100%;
    padding: 30px;
}

.box {
    background-color: #6BFFA5;
    text-align: center;
    width: 383px;
    height: 197px;
    margin: 35px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.job_text {
    font-size: x-large;
    margin-bottom: 68px;
    margin-top: 80px;
}

.contact_header {
    background-color: #9D2096;
    color: white;
    height: 100%;
    text-align: left;
}



.register_title {
    font-size: 44px
}

.sub_register {
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
    top: -20px
}

form {
    margin-top: 50px;
}

.img_contact {
    position: absolute;
    width: 300px;
    left: 136px;
}

/* Styles for Work-with-us_Grid */

.header2 {
    grid-area: header2;
    background-color: #9D2096;
    color: white;
    text-align: left;
    font-size: 10%;
    height: 150%;
    width: 100%;
}

.nav2 {
    grid-area: nav2;
    background-color: black;
}

.section2 {
    grid-area: section2;
    margin-top: 50px;
}

.aside2 {
    grid-area: aside2;
    background-color: #FFD859;
}


.footer2 {
    grid-area: footer2;
    background-color: #9D2096;
    display: flex;
    justify-content: center;
    margin: -0.01%;
    padding: 10px;
}

.button_2 {
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 40px;
    background-color: cadetblue;
    color: white;
    border: none;
}

.form_to_fill {
    width: 100%;
}

.sub_work {
    position: absolute;
    top: 129px;
    left: 282px;
}

.div_container2 {
    display: grid;
    grid-template-areas:
        "nav2 nav2 nav2"
        "aside2 header2 header2"
        "aside2 section2 section2"
        "footer2 footer2 footer2"
    ;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 40px 100px 1fr 150px;
}

/* tablet */

@media screen and (max-width:768px) {
    .container_videos {
        display: flex;
        flex-direction: column;
    }

    .video {
        height: 300px;
        width: 400px;
    }

    .header2 {
        height: 200%
    }

    .img_contact {
        position: absolute;
        width: 207px;
        left: 49px;
    }
    .about-img {
        display: none;
    }

    .img-team {
        display: none;
    }

    .box_side {
        padding:10px
    }

}

/* Mobile */

@media screen and (max-width:425px) {
    .video {
        height: 250px;
        width: 350px;
    }

    .img_chess {
        display: none;
    }

    .container_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .grid_container_members {
        display: flex;
        flex-direction: column;
    }

    .div_container2 {
        
        grid-template-areas:
            "nav2"
            "header2"
            "aside2"
            "section2"
            "footer2";
        grid-template-columns: auto ;
        grid-template-rows: 5% 11%;
    }
    
    .section2 {
        margin: 0;
    }

    .sub_work {
        position: absolute;
        top: 200px;
        left: 40px;
        font-size: 30px;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
    }

    .img_contact {
        display: none;
    }

    .about-img {
        display: none;
    }

    .img-team {
        display: none;
    }

}