* {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
}

html {
  width: 100%;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button, .button_2 {
  background-color: cadetblue;
  color: white;
  width: 80px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-bottom: 30px;
}
.button:hover, .button_2:hover {
  background-color: rgb(83, 175, 175);
}

.button_2 {
  margin: 40px;
  box-sizing: border-box;
}

.select_rating {
  color: black;
  font-size: 23px;
  margin-top: 20px;
  position: relative;
  top: -30px;
}

main img {
  width: 40%;
  position: relative;
  top: -8px;
}

div header img {
  width: 15%;
  margin-left: 30px;
}

body header div img {
  width: 30%;
  position: relative;
  margin-left: 200px;
}

body main section form .img_contact {
  position: absolute;
  width: 300px;
  left: 136px;
  display: none;
}

section h3 div form {
  width: 100%;
  margin-top: 50px;
}

.div_container2 {
  display: grid;
  grid-template-areas: "nav2 nav2 nav2" "aside2 header2 header2" "aside2 section2 section2" "footer2 footer2 footer2";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 40px 100px 1fr 150px;
}

.nav2 {
  grid-area: nav2;
  background-color: black;
}

.aside2 {
  grid-area: aside2;
  background-color: #FFD859;
}

.footer2 {
  grid-area: footer2;
  background-color: #9D2096;
  display: flex;
  justify-content: center;
  margin: -0.01%;
  padding: 10px;
}

.form_to_fill {
  width: 100%;
}

body .header2 .ourTeamHeader {
  display: flex;
  text-align: left;
  font-size: xx-large;
  background: #9D2096;
  color: white;
  box-sizing: border-box;
}
body .header2 .ourTeamHeader .ourTeamHeader-titles {
  margin-left: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
body .header2 .ourTeamHeader .ourTeamHeader-titles h1 {
  background-color: #9D2096;
  color: white;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 20px;
}

body section {
  grid-area: section2;
  margin-top: 50px;
}
body section {
  margin: 30px;
}
body section .grid_container_members {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  margin-bottom: 30px;
}
body section .grid_container_members div {
  text-align: justify;
  background-color: #FFD859;
  color: black;
  padding: 20px;
  border: 1px;
  border-radius: 40px;
}

body .header2 {
  grid-area: header2;
  background-color: #9D2096;
  color: white;
  text-align: left;
  font-size: 10%;
  height: 170%;
  width: 100%;
}
body .header2 div h1 {
  background-color: #9D2096;
  color: white;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 20px;
}
body .header2 div h2 {
  margin: 15px;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  position: relative;
  top: -10px;
}

body section h3 {
  font-size: x-large;
  margin-bottom: 68px;
  margin-top: 80px;
}
body section h3 div form {
  width: 100%;
}

body aside {
  grid-area: aside2;
  background-color: #FFD859;
}
body aside .box_side {
  padding: 30px;
  text-align: justify;
}

aside div h3 {
  font-weight: lighter;
  font-weight: 600;
  margin: 20px;
}

header nav {
  background-color: #000000;
  width: 100%;
}
header nav a {
  text-decoration: none;
  color: white;
}
header nav ul {
  text-align: end;
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
}
header nav ul li {
  margin: 10px;
}
header nav .container_nav {
  margin-left: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 10px;
}

body nav {
  background-color: #000000;
  width: 100%;
}
body nav a {
  text-decoration: none;
  color: white;
}
body nav ul {
  text-align: end;
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
}
body nav ul li {
  margin: 10px;
}
body nav .container_nav {
  margin-left: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 10px;
}

header div div {
  background-color: #9D2096;
  margin-top: -16px;
}
header div div h1 {
  background-color: #9D2096;
  color: white;
  padding: 20px;
  font-size: 60px;
}
header div div h2 {
  font-size: 30px;
  color: white;
  font-weight: lighter;
  position: relative;
  top: -10px;
}

div header {
  text-align: left;
  font-size: xx-large;
  background: #9D2096;
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
}

body div header {
  display: flex;
  flex-direction: row-reverse;
}
body div header div {
  display: flex;
  flex-direction: column;
}
body div header div h1 {
  background-color: #9D2096;
  color: white;
  text-align: left;
}
body div header div h2 {
  margin: 15px;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  position: relative;
  top: -10px;
}

body .contact_header {
  background-color: #9D2096;
  color: white;
  height: 100%;
  text-align: left;
}
body .contact_header .register_title {
  font-size: 44px;
  margin-left: 30px;
}
body .contact_header .sub_register {
  margin: 15px;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  position: relative;
  top: -10px;
}

body footer {
  background-color: #9D2096;
  color: whitesmoke;
  list-style-type: none;
  padding: 10px 5px;
  height: auto;
  flex-wrap: wrap;
  margin-top: auto;
  display: flex;
  direction: row;
  justify-content: center;
}
body footer .pricing {
  margin-left: 100px;
  margin-right: 100px;
}
body footer h5 {
  font-size: medium;
  margin: 10px;
}
body footer ul {
  list-style-type: none;
}

h5 {
  font-size: medium;
  margin: 10px;
  font-weight: lighter;
}
h5 ul {
  list-style-type: none;
}

body main section .home {
  text-align: justify;
  width: 80%;
  padding: 20px;
  margin-left: 100;
}
body main section .home h3 {
  font-weight: lighter;
  font-weight: 600;
  margin: 20px;
}
body main section .home p {
  color: #000000;
}
body main section .popular {
  font-weight: lighter;
  margin: 10px;
}
body main section .container_videos {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: wrap;
}
body main section .container_videos .opening_video h3 {
  font-weight: lighter;
  font-weight: 600;
  margin: 20px;
}
body main section .container_videos .opening_video .video {
  height: 100%;
  width: 100%;
}

body main section p {
  width: 80%;
  height: auto;
  color: black;
  font-size: 100%;
  text-align: justify;
  margin: 30px;
}

body main section form .select_rating {
  color: black;
  font-size: 23px;
  margin-top: 20px;
  position: relative;
  top: -30px;
  left: 100px;
  text-align: center;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body .img_chess {
    display: none;
  }
  body main section .home p {
    width: 100%;
    margin: 0px;
  }
  body main section .container_videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main section .container_videos .opening_video .video {
    height: 300px;
    width: 400px;
  }
  body div header .about-img {
    display: none;
  }
  body header {
    height: 200%;
  }
  body header div .img-team {
    display: none;
  }
  body aside {
    padding: 0%;
  }
  body aside .box_side {
    padding: 10px;
  }
}
body main section form .select_rating {
  color: black;
  font-size: 23px;
  margin-top: 20px;
  position: relative;
  top: -30px;
  left: 6%;
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 425px) {
  body .img_chess {
    display: none;
  }
  body main section .home p {
    width: 100%;
    margin: 0px;
    padding: none;
  }
  body main section .container_videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main section .container_videos .opening_video .video {
    height: 250px;
    width: 350px;
  }
  .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body div header .about-img {
    display: none;
  }
  .div_container2 {
    grid-template-areas: "nav2" "header2" "aside2" "section2" "footer2";
    grid-template-columns: auto;
    grid-template-rows: 5% 11%;
  }
  .div_container2 .header2 .ourTeamHeader .img-team {
    display: none;
  }
  .div_container2 section {
    margin: 0;
  }
  .div_container2 section section .grid_container_members {
    display: flex;
    flex-direction: column;
  }
  .div_container2 section section .team_member_box {
    text-align: justify;
    background-color: #FFD859;
    color: black;
    padding: 20px;
    border: 1px black;
    border-radius: 40px;
    margin: 10px;
  }
  body .footer2 {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
