// variables //

$main-color:#9D2096;
$button-color:cadetblue;
$aside-color:#FFD859;
$p-color:black;

// General styles //

* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

html {
    width: 100%;
}





