//index, contact-us//

header {
    div {
        div {
            background-color: $main-color;
            margin-top: -16px;

            h1 {
                background-color: $main-color;
                color: white;
                padding: 20px;
                font-size: 60px;
            }

            h2 {
                font-size: 30px;
                color: white;
                font-weight: lighter;
                position: relative;
                top: -10px;
            }
        }
    }
}

//about-us//

div {
    header {
        text-align: left;
        font-size: xx-large;
        background: $main-color;
        color: white;
        box-sizing: border-box;
        height: 100%;
        padding: 30px;
    }
}

body {

    div {
        header {
            display: flex;
            flex-direction: row-reverse;

            div {
                display: flex;
                flex-direction: column;

                h1 {
                    background-color: $main-color;
                    color: white;
                    text-align: left;
                }

                h2 {
                    margin: 15px;
                    font-weight: lighter;
                    font-size: 30px;
                    color: white;
                    font-weight: lighter;
                    position: relative;
                    top: -10px;
                }
            }
        }
    }
}





