/* tablet */

@media screen and (max-width:768px) {

    //index//

    body {
        .img_chess {

            display: none;
        }

        main {
            section {
                .home {
                    p {

                        width: 100%;
                        margin: 0px;
                    }
                }
            }

            section {
                .container_videos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .opening_video {

                        .video {
                            height: 300px;
                            width: 400px;
                        }
                    }
                }
            }
        }
    }

    //about-us//

    body {
        div {
            header {
                .about-img {
                    display: none;
                }

            }

        }
    }

    //our-team//

    body {
        header {
            height: 200%;

            div {
                .img-team {
                    display: none;
                }

            }
        }

        aside {
            padding: 0%;

            .box_side {
                padding: 10px
            }
        }

    }
}

//contact-us//
body {
    main {
        section {
            form {
                .select_rating {
                    color: black;
                    font-size: 23px;
                    margin-top: 20px;
                    position: relative;
                    top: -30px;
                    left: 6%;
                    text-align: center;
                }
            }
        }

    }
}


/* Mobile */

@media screen and (max-width:425px) {

    //index//

    body {
        .img_chess {

            display: none;
        }

        main {
            section {
                .home {
                    p {

                        width: 100%;
                        margin: 0px;
                        padding: none;
                    }

                }

            }

            section {
                .container_videos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .opening_video {

                        .video {
                            height: 250px;
                            width: 350px;
                        }
                    }
                }
            }
        }
    }

    .container_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    //about-us//

    body {
        div {
            header {
                .about-img {
                    display: none;
                }

            }

        }
    }

    //our-team -- not working yet//

    .div_container2 {

        grid-template-areas:
            "nav2"
            "header2"
            "aside2"
            "section2"
            "footer2";
        grid-template-columns: auto;
        grid-template-rows: 5% 11%;

        header {
            div {
                .img-team {
                    display: none;
                }
            }
        }

        section {
            margin: 0;

            section {
                .grid_container_members {
                    display: flex;
                    flex-direction: column;
                }

            }

        }
    }

    //work-with-us -- not working yet//

    body {
        header {
            div {
                .sub_work {
                    position: absolute;
                    top: 200px;
                    left: 40px;
                    font-size: 30px;
                }

            }
        }

        .footer2 {
            display: flex;
            flex-direction: column;
        }
    }
    
   
    //contact-us -- no need to modify//


}