/* tablet */

@media screen and (max-width:868px) and (max-width:1023px) {

    //index//

    body {
        .img_chess {

            display: none;
        }

        main {
            section {
                .home {
                    p {

                        width: 100%;
                        margin: 0px;
                    }
                }
            }

            section {
                .container_videos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 100px;

                    .opening_video {

                        .video {
                            height: 300px;
                            width: 400px;
                        }
                    }
                }
            }
        }
    }

    //about-us//

    body {
        div {
            header {
                .about-img {
                    display: none;
                }

            }

        }
    }

    //our-team//

    body {
        header {
            height: 200%;

            div {
                .img-team {
                    display: none;
                }

            }
        }

        aside {
            padding: 0%;

            .box_side {
                padding: 10px
            }
        }

    }
}

//contact-us//
body {
    main {
        section {
            form {
                .select_rating {
                    color: black;
                    font-size: 23px;
                    margin-top: 20px;
                    position: relative;
                    top: -30px;
                    left: 6%;
                    text-align: center;
                }
            }
        }

    }
}


/* Mobile */

@media screen and (max-width:850px) {
    body {
        section {

            margin-left: 10px;
            margin-right: 10px;

            .grid_container_members {
                div {
                    width: 80%;
                }
            }
        }
    }


}

@media screen and (max-width:700px) {

    //index//

    body {
        .img_chess {

            display: none;
        }

        main {
            section {
                .home {
                    p {

                        width: 100%;
                        margin: 0px;
                        padding: none;
                    }

                }

            }

            section {
                .container_videos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .opening_video {

                        .video {
                            height: 250px;
                            width: 350px;
                        }
                    }
                }
            }
        }
    }

    .container_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    //about-us//

    body {
        div {
            header {
                .about-img {
                    display: none;
                }

            }

        }
    }

    //our-team //

    .div_container2 {

        grid-template-areas:
            "nav2"
            "header2"
            "aside2"
            "section2"
            "footer2";
        grid-template-columns: auto;
        grid-template-rows: 5% 11%;

        .header2 {
            .ourTeamHeader {
                .img-team {
                    display: none;
                }
            }
        }

        section {
            margin: 0;

            section {
                .grid_container_members {
                    display: flex;
                    flex-direction: column;
                }

                .team_member_box {
                    text-align: justify;
                    background-color: #FFD859;
                    color: black;
                    padding: 20px;
                    border: 1px  black;
                    border-radius: 40px;
                    margin: 10px;
                    width: 60%;
                    margin-left: 17%;
                }

            }

        }

        .p_our_team {
            margin: 20px;
        }
    }

    //work-with-us //

    body {
        
        .footer2 {
            display: flex;
            flex-direction: column;
        }
    }
    
   
    //contact-us -- no need to modify//


}