//index//

body {
    main {
        section {
            .home {
                text-align: justify;
                width: 100%;
                padding: 20px;
                margin-left: 100;

                h3 {
                    font-weight: lighter;
                    font-weight: 600;
                    margin: 20px;
                }

                p {
                    color: #000000;
                }
            }
        }

        section {

            .popular {
                font-weight: lighter;
                margin:10px
            }

            .container_videos {
                margin-bottom: 100px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex: wrap;

                .opening_video {

                    h3 {
                        font-weight: lighter;
                        font-weight: 600;
                        margin: 20px;
                    }

                    .video {
                        height: 100%;
                        width: 100%
                    }

                }
            }


        }
    }
}


//about-us//

body {
    main {
        section {
            p {
                width: 80%;
                height: auto;
                color: black;
                font-size: 100%;
                text-align: justify;
                margin: 30px;
            }
        }
    }
}

//contact-us//

body {
    main {
        section {
            form {
                .select_rating {
                    color: black;
                    font-size: 23px;
                    margin-top: 20px;
                    position: relative;
                    top: -30px;
                    left: 100px;
                    text-align: center;
                }
            }
        }
    }
}