main {
    img {
        width: 40%;
        position: relative;
        top: -8px;
    }
}

header {
    .ourTeamHeader {
        .img-team {
            width: 30%;
        }
    }
}

body {
    header {
       nav {
            img {
             width: 30%;
            }
        }
    }
}
//contact-us//

body {
    main {
        section {
            form {
                .img_contact {
                    position: absolute;
                    width: 300px;
                    left: 136px;
                    display: none;
                }
            }
        }
    }
}



