main {
    img {
        width: 40%;
        position: relative;
        top: -8px;
    }
}

div {
    header {
        img {
            width: 15%;
            margin-left: 30px;
        }
    }
}

body {
    header {
        div {
            img {
                width: 30%;
                position: relative;
                margin-left: 200px;
            }
        }
    }
}

body {
    main {
        section {
            form {
                img {
                    position: absolute;
                    width: 300px;
                    left: 136px;
                }
            }
        }
    }
}

